
body,html
{
padding:0;
margin:0;
}

#blueheader
{
background-color:#47a3da;
width:auto;
height:20px;
}
#headermain > img
{
width:1360px;
height:150px;
padding-top:2px;
padding-left:2px;

}

.bottomfooter
{
height:200px;
width:1360px;
background-color:#47a3da;
}

.maintext
{
background-color:#47a3da;

}